<div class="container-w">
  <h1 class="headline">Личный кабинет</h1>
  <% if current_user %>
      <h2 class="headline-h2">Добро пожаловать, <%= current_user.login %></h2>
        <form action="/quit">
          <p>
            <input type="submit" class = "sign-button" value="Выход" />
          </p>
        </form>
  <% else %>
    <h1>Уээээ</h1>
  <% end %>
</div>